global:
  api-listen-addr: {{ api_listen_addr | default('5183') }}
  timeout: {{ timeout | default('10s') }}
  memo: "{{ memo | default('') }}"
  light-cache-size: {{ light_cache_size | default(20) }}
  kms-key-id: "{{ relay_kms_key_id | default('5ef77041-d1e6-4af1-9a41-e49a4b45efb6') }}"

chains:
  icon.local:
    type: icon
    value:
      address: "{{ icon_local_address | default('hxb6b5791be0b5ef67063b3c10b840fb81514db2fd') }}"
      block-interval: {{ icon_block_interval | default('6s') }}
      contracts:
        connection: "{{ icon_contract_connection | default('cxbaba0d9bcb7b658eea78498c3e1585d8cbfc30af') }}"
        xcall: "{{ icon_contract_xcall | default('cx146d77444bedec6e82d59d1da74afd45adc2693a') }}"
      finality-block: {{ icon_finality_block | default(10) }}
      network-id: {{ icon_network_id | default(3) }}
      nid: "{{ icon_nid | default('icon.local') }}"
      rpc-url: "{{ icon_rpc_url | default('https://tt.net.solidwallet.io/jvm-rpc/api/v3/') }}"
      start-height: {{ icon_start_height | default(0) }}
      step-limit: {{ icon_step_limit | default(2500000) }}
      step-min: {{ icon_step_min | default(25000) }}

  emv.local:
    type: evm
    value:
      address: "{{ emv_local_address | default('0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266') }}"
      block-interval: {{ emv_block_interval | default('6s') }}
      contracts:
        connection: "{{ emv_contract_connection | default('0x9fE46736679d2D9a65F0992F2272dE9f3c7fa6e0') }}"
        xcall: "{{ emv_contract_xcall | default('0x5FbDB2315678afecb367f032d93F642f64180aa3') }}"
      finality-block: {{ emv_finality_block | default(10) }}
      gas-limit: {{ emv_gas_limit | default(20000000) }}
      gas-price: {{ emv_gas_price | default(10000000) }}
      nid: "{{ emv_nid | default('emv.local') }}"
      rpc-url: "{{ emv_rpc_url | default('https://tt.net.solidwallet.io/hardhat-rpc') }}"
      start-height: {{ emv_start_height | default(0) }}
      websocket-url: "{{ emv_websocket_url | default('wss://tt.net.solidwallet.io/hardhat-rpc/') }}"
