name: "Release"

on:
  push:
    tags:
      - "v*.*.*" # run on semver tags

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Delete unnecessary tools folder for space
        run: rm -rf /opt/hostedtoolcache

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22

      - run: echo https://github.com/icon-project/centralized-relay/blob/${GITHUB_REF#refs/tags/}/CHANGELOG.md#${GITHUB_REF#refs/tags/} > ../release_notes.md

      - name: release publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: make release
